ion-content {
  --ion-background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;


  ion-card-header {
    text-align: center;
    margin-top: 50px;

    ion-card-title {
      color: #242020;
      font-size: 50px;
      font-weight: 400;

      strong {
        font-weight: bold;
        color: #198645;
      }
    }

    ion-card-subtitle {
      color: #242020;
      font-size: 40px;
      font-weight: 400;


    }
  }

}

.items-container {
  margin: 100px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;

  .card-item {
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 10px;

    }

  }

  .card-item:nth-child(1)::before {
    content: "Ice cream\a $7,00 \a Ingredients: \aIce cream of Chocolate";
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    text-align: center;
  }

  .card-item:nth-child(2)::before {
    content: "Brown\a $8,50 \a Ingredients: \a Brown of Chocolate";
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    text-align: center;
  }

  .card-item:nth-child(3)::before {
    content: "Cake\a $9,00 \a Ingredients: \a Cake of Chocolate";
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    text-align: center;
  }

  .card-item:nth-child(4)::before {
    content: "Doughnut\a $10,70 \a Ingredients: \a Doughnut of de dulche de leche";
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    text-align: center;
  }

  .card-item:nth-child(5)::before {
    content: "Cupcake\a $9,70 \a Ingredients: \aOreo cupcake";
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    text-align: center;
  }

  .card-item::after {
    content: "\a";
    white-space: pre;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
  }

  .card-item:hover::after {
    height: 100%;
  }

  .card-item:hover::before {
    margin-top: 0;
    opacity: 1;
    padding: 0;
  }




}
