<ion-content>
  <ion-card-header>
    <ion-card-title><strong>Happy</strong> Lunch</ion-card-title>
    <ion-card-subtitle>Drinks</ion-card-subtitle>
  </ion-card-header>
  <div class="items-container">
    <div class="card-item">
      <img src="../../assets/drink/wine.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/drink/shake.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/drink/mint.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/drink/jar.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/drink/beer.jpg" />
    </div>
  </div>


</ion-content>
