<ion-content>
  <ion-card-header>
    <ion-card-title><strong>Happy</strong> Lunch</ion-card-title>
    <ion-card-subtitle>Meals</ion-card-subtitle>
  </ion-card-header>
  <div class="items-container">
    <div class="card-item">
      <img src="../../assets/meal/spaghetti.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/meal/brownsoup.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/meal/grilledsteak.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/meal/noddle.jpg" />
    </div>
    <div class="card-item">
      <img src="../../assets/meal/cookedrice.jpg" />
    </div>
  </div>


</ion-content>
